@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8gyivl');
  src:  url('fonts/icomoon.eot?8gyivl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8gyivl') format('truetype'),
    url('fonts/icomoon.woff?8gyivl') format('woff'),
    url('fonts/icomoon.svg?8gyivl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soundwave:before {
  content: "\e900";
}
.icon-paperclip:before {
  content: "\e901";
}
.icon-emoji-smile:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-info-circle:before {
  content: "\e904";
}
.icon-chat-dots:before {
  content: "\e905";
}
