@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zej7v6');
  src:  url('fonts/icomoon.eot?zej7v6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zej7v6') format('truetype'),
    url('fonts/icomoon.woff?zej7v6') format('woff'),
    url('fonts/icomoon.svg?zej7v6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat-dots-fill:before {
  content: "\e90b";
}
.icon-book-fill:before {
  content: "\e90c";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-send:before {
  content: "\e906";
}
.icon-soundwave:before {
  content: "\e900";
}
.icon-paperclip:before {
  content: "\e901";
}
.icon-emoji-smile:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-info-circle:before {
  content: "\e904";
}
.icon-chat-dots:before {
  content: "\e905";
}
